.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.red[style],
.green[style],
.blue[style] {
    color: inherit;
}
