.xxsmall {
    font-size: 10px;
}

.xsmall {
    font-size: 12px;
}

.small {
    font-size: 14px;
}

.medium {
    font-size: 16px;
}

.large {
    font-size: 18px;
}

.xlarge {
    font-size: 20px;
}

.xxlarge {
    font-size: 24px;
}
